<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/weather2.png">
    <link rel="stylesheet" href="../404pagestyles.css" type="text/css">
    <title>404 page</title>
</head>
<body>
        {{>header}}
    <div class="main-cont">
        <h3>OOPs!</h3>
        <h1>{{errormsghead}}</h1>
        <h2>{{errorpara}}</h2>
    </div>
    {{>footer}}
</body>
</html>