<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../aboutstyles.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" href="/weather2.png">
    <script src="https://kit.fontawesome.com/f0fb4a7735.js" crossorigin="anonymous"></script>

    <title>About page</title>
</head>
<body>
        {{>header}}
    <div class="about-section">
        
        <p style="float:center">Wishing some <i class="fas fa-praying-hands"></i> peace to everyone</p>
      </div>
      
      <h2 style="text-align:center">Our Team</h2>
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="surbhi2.jpg" alt="Jane" style="width:100%">
            <div class="container">
              <h2 style="font-family: 'Merriweather', serif">Surbhi Sinha</h2>
              <p style="font-family: 'Merriweather', serif" class="title">Software & Web developer</p>
              <p style="font-family: 'Merriweather', serif">HEY! THERE I am Surbhi. I love to learn new things every day and I am a data structure lover and web developing punk.</p>
              <p>astsurbhisinha@gmail.com</p>
              <div class="icons">
                <a href="https://www.linkedin.com/in/surbhi-sinha-554902176/">
                    <i class="fab fa-linkedin linkedin" style="font-size:48px" ></i>
                </a>
                <a href="https://github.com/Surbhi-sinha">
                  <i class="fab fa-github-square git" style="font-size:48px" href=""></i>
                </a>
               
                
              </div>
              
            </div>
          </div>
        </div>
        <div class= "column2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium deleniti ab rem, libero dicta explicabo commodi consequuntur, repudiandae incidunt dignissimos dolorum officiis neque magnam, perferendis nam! Nulla quod explicabo et!
            <br>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, vel accusamus. Libero esse a voluptatibus aspernatur, modi enim minus at.
            <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In, nam!
            <br>
            <br>
            <br>
            <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde neque maiores magni minima. Cupiditate natus, rem quam officia voluptatum exercitationem vitae accusantium harum quod sapiente pariatur ut. Autem in quo molestiae magnam dolor reprehenderit voluptate recusandae mollitia harum ducimus eligendi, qui eum ratione quia quae eos cupiditate aperiam asperiores! Laudantium, modi dolorum. Dolor quam facilis voluptate fugiat labore obcaecati a ipsum aut quasi quia velit odio, possimus cumque ex, qui porro rerum eligendi ad nam corrupti amet odit nulla eum sit! Quisquam, omnis? Sunt tempora vitae velit debitis, iure nesciunt doloribus harum eligendi amet ipsam, ratione quisquam dignissimos reprehenderit? Perspiciatis odio deserunt consectetur itaque animi maiores, repellendus ratione reprehenderit quos expedita temporibus magnam totam inventore quasi excepturi delectus iusto laudantium. Et ut aspernatur dignissimos sunt neque aut. Nesciunt, a temporibus cupiditate perspiciatis beatae sint deserunt odio quibusdam perferendis, ea magni dolorum molestiae similique iusto reprehenderit est soluta animi minus exercitationem ducimus sed! Voluptates blanditiis veritatis rerum quo porro placeat itaque asperiores repellendus deleniti eligendi, nemo reiciendis? Tempora molestias quidem adipisci voluptates explicabo blanditiis, voluptatem dolorum eaque, fugiat natus modi in cum recusandae nisi, minima dolorem at atque rem inventore nesciunt aliquam quibusdam aspernatur hic? A eveniet atque commodi aliquam aperiam.
            <br>
            <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, voluptas totam. Ea quam odio exercitationem, quisquam voluptatibus assumenda ab accusantium et maxime dignissimos? Ea, enim at. Impedit veniam sunt quo aliquam facere expedita cum accusantium, natus architecto maxime illum. Eos blanditiis, ipsa natus, eius corporis minima optio aliquid magni fugit aspernatur nostrum, veniam quidem hic adipisci qui rerum sapiente? Sapiente laborum itaque ab illum totam. Optio ut maiores hic, dignissimos nobis distinctio obcaecati repudiandae dolorum fugiat, voluptatibus natus ducimus id fuga esse quod ex veniam a eligendi totam corporis perferendis!
            <br>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo, porro reprehenderit ratione suscipit perspiciatis nulla quidem quae amet voluptatum nobis, optio temporibus officia! Obcaecati quod possimus dicta adipisci eligendi illum laborum eaque amet tempore, quam iure provident facilis omnis voluptate laboriosam culpa expedita eius ipsa incidunt cupiditate corporis fugit! Labore?
            <br>
            <br>

        </div>
      
        
        
        
      </div>
     {{>footer}} 
      
</body>
</html>