<footer>
    
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
    <p style="float:right">all rights reserved by Surbhi Sinha.
        <br>
        <br>
   Wishing some <i class="fas fa-praying-hands"></i> peace to everyone</p>
    

</footer>