{{!-- this will access the title value from the app.js file from the set function for each page --}}
<head>
    <script src="https://kit.fontawesome.com/f0fb4a7735.js" crossorigin="anonymous"></script>
</head>
<header>
    <h1>{{title}}<i class="fas fa-cloud-sun"></i></h1> 
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>